
body{
   background-color:#ddd;
}
.field-validation-error{
    color:red;
}
#form-register {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: white;
    width: 500px;
    height: 500px;
}
table{

   

}
.title-form{
    text-align:center;
    font-size:30px;
}