
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assets/css/NewRegister.css" type="text/css" rel="stylesheet" />
    <title>NewRegister</title>
</head>
<body>
    <div id="login-box">
        <div class="left">
            <h1>Đăng ký</h1>
            <span>Nhập vào tên:</span>
            <input type="text" name="username" placeholder="Nguyen Manh Cuong" />
            <span>Nhập vào số điện thoại:</span>
            <input type="text" name="phone" placeholder="0962781328" />
            <span>Nhập vào số điện thoại:</span>
            <input type="text" name="email" placeholder="cuong@gmail.com" />
            <span>Nhập vào mật khẩu:</span>
            <input type="password" name="password" placeholder="********" />
            <span>Nhập vào địa chỉ:</span>
            <input type="text" name="address" placeholder="Phu Tho" />

            <div class="nut">
                <input type="submit" name="signup_submit" value="Đăng ký" />
                <input type="reset" value="Loại bỏ" />
            </div>
        </div>

        <div class="right">
            <span class="loginwith">Đăng nhập với</span>

            <button class="social-signin facebook">Facebook</button>
            <button class="social-signin twitter">Twitter</button>
            <button class="social-signin google">Google+</button>
            <div class="DangNhap">
                Bạn đã có tài khoản?
                <input type="submit" name="signup_submit" value="Đăng nhập" />
            </div>
        </div>
        <div class="or">OR</div>
    </div>
</body>
</html>
