@model IEnumerable<SachOnline.Models.BLOG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@*@foreach (var item in Model)
    {
        <div>
            <h1 align="Center" style="color:red">Tên blog: @item.TenBlog</h1>
            <br />
            <div margin-left:50px;>
                <h3>Nội dung: <br /> @item.NoiDungBlog</h3>
            </div>
        </div>
    }*@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0041)https://sachhay24h.com/blog-tong-hop.html -->
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Blog tổng hợp</title>

    <meta name="robots" content="index, archive, follow, noodp">
    <meta name="googlebot" content="index,archive,follow,noodp">
    <meta name="msnbot" content="all,index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="~/Assets/css/Blog.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" href="https://sachhay24h.com/favicon.ico" type="image/x-icon">

    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css"/>
    <meta name="google-site-verification" content="Wa_Ekibn3TMm28k217Tit5KvSu4TTcv-uzCC1URQVkk">



    @*/* sc-component-id: sc-keyframes-FiaaB */*@
    <style>
        .glot-sub-active {
            color: #1296ba !important;
        }

        .glot-sub-hovered {
            color: #1296ba !important;
        }

        .glot-sub-clzz {
            cursor: pointer;
            lineHeight: 1.2;
            font-size: 28px;
            color: #FFCC00;
            background: rgba(17, 17, 17, 0.7);
        }

            .glot-sub-clzz:hover {
                color: #1296ba !important;
            }

        .ej-trans-sub {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999999;
            cursor: move;
        }

            .ej-trans-sub > span {
                color: #3CF9ED;
                font-size: 18px;
                text-align: center;
                padding: 0 16px;
                line-height: 1.5;
                background: rgba(32, 26, 25, 0.8);
                // text-shadow: 0px 1px 4px black;
                padding: 0 8px;
                lineHeight: 1.2;
                font-size: 16px;
                color: #0CB1C7;
                background: rgba(67, 65, 65, 0.7);
            }

        .ej-main-sub {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99999999;
            cursor: move;
            padding: 0 8px;
        }

            .ej-main-sub > span {
                color: white;
                font-size: 20px;
                line-height: 1.5;
                text-align: center;
                background: rgba(32, 26, 25, 0.8);
                // text-shadow: 0px 1px 4px black;
                padding: 2px 8px;
                lineHeight: 1.2;
                font-size: 28px;
                color: #FFCC00;
                background: rgba(17, 17, 17, 0.7);
            }

            .ej-main-sub .glot-sub-clzz {
                background: transparent !important
            }

        .tran-subtitle > .view-icon-edit-sub {
            cursor: pointer;
            padding-left: 10px;
            top: 2px;
            position: relative;
        }

            .tran-subtitle > .view-icon-edit-sub > svg {
                width: 16px;
                height: 16px;
                pointer-events: none;
            }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">



    <div id="wrapper">


        <div id="content" class="wrapper">

            <div class="main-content">

                <div class="title"><h1 class="title"><a class="follow" href="#" title="blog tong hop html">Blog tổng hợp</a></h1></div>

               
                <div class="news-item">
                    <div class="img">
                        <a href="#" title="Bí quyết làm việc tại nhà hiệu quả giữa mùa dịch Covid 19"><img src="~/Assets/images/a_188454024_bi_quyt_lam_vic_ti_nha_hiu_qu_gia_mua_dch_covid_19.png" alt="Bí quyết làm việc tại nhà hiệu quả giữa mùa dịch Covid 19"></a>
                    </div>
                    <h4><a href="#" title="bi quyet lam viec tai nha hieu qua giua mua dich covid 19 a1268 html">Bí quyết làm việc tại nhà hiệu quả giữa mùa dịch Covid 19</a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 09/08/2021</span> - Lượt xem: 115</p>
                    <p class="sapo">
                        Làm thế nào để bạn có thể tìm kiếm niềm vui khi làm việc ở nhà trong mùa dịch Covid? Câu trả lời sẽ được gói gọn trong bài viết dưới đây!
                    </p>

                </div><!--end list-new-->
                <div class="clear2"></div><div class="clear3"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="Những câu trích dẫn trong sách giáo khoa huyền thoại không thể nào quên"><img src="~/Assets/images/a_1429863420_homnaytoidihoc.jpeg" alt="Những câu trích dẫn trong sách giáo khoa huyền thoại không thể nào quên"></a>
                    </div>
                    <h4><a href="#" title="nhung cau trich dan trong sach giao khoa huyen thoai khong the nao quen a1108 html">Những câu trích dẫn trong sách giáo khoa huyền thoại không thể nào quên</a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 14/04/2021</span> - Lượt xem: 386</p>
                    <p class="sapo">
                        Trích dẫn sách hay từ những câu thơ, lời văn từ sách giáo khoa “huyền thoại” mà đến bây giờ bạn vẫn còn bồi hồi mỗi khi đọc. Hãy cùng ôn lại những trang...
                    </p>

                </div><!--end list-new-->
               
               
                <div class="clear3"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="Những trang sách tập đọc huyền thoại gắn liền với tuổi thơ"><img src="~/Assets/images/a_1119511780_y.jpg" alt="Những trang sách tập đọc huyền thoại gắn liền với tuổi thơ"></a>
                    </div>
                    <h4><a href="#" title="nhung trang sach tap doc huyen thoai gan lien voi tuoi tho a1061 html">Những trang sách tập đọc huyền thoại gắn liền với tuổi thơ</a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 11/03/2021</span> - Lượt xem: 502</p>
                    <p class="sapo">
                        Cùng SachHay24H.com tổng hợp những trang sách “vỡ lòng” huyền thoại gợi lại kỷ niệm tuổi thơ khó quên với bài học đầu tiên tại đến trường của thế hệ...
                    </p>

                </div><!--end list-new-->
               
               
                <div class="clear2"></div><div class="clear3"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="Bạn định ngồi đợi ước mơ trở thành hiện thực đến bao giờ?"><img src="~/Assets/images/a_990645330_zz2.jpg" alt="Bạn định ngồi đợi ước mơ trở thành hiện thực đến bao giờ?"></a>
                    </div>
                    <h4><a href="#" title="ban dinh ngoi doi uoc mo tro thanh hien thuc den bao gio a1014 html">Bạn định ngồi đợi ước mơ trở thành hiện thực đến bao giờ?</a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 21/02/2021</span> - Lượt xem: 263</p>
                    <p class="sapo">
                        Ước mơ của bạn không nhất thiết phải lớn lao, vĩ đại chỉ cần nó xuất phát từ tiếng lòng của bạn, đó là những điều bạn mong muốn chứ không phải ước...
                    </p>

                </div><!--end list-new-->
                <div class="news-item">
                    <div class="img">
                        <a href="#" title="Yêu Thương Trái Đất Hơn Bằng Những Hành Động Nhỏ"><img src="~/Assets/images/a_1213523983_haibatdongsanmoitaucuckydatdocualangbongdathegioi2.jpg" alt="Yêu Thương Trái Đất Hơn Bằng Những Hành Động Nhỏ"></a>
                    </div>
                    <h4><a href="#" title="yeu thuong trai dat hon bang nhung hanh dong nho a972 html">Yêu Thương Trái Đất Hơn Bằng Những Hành Động Nhỏ</a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 19/07/2021</span> - Lượt xem: 859</p>
                    <p class="sapo">
                        Đã đến lúc chúng ta phải thay đổi để sống xanh, cùng chung tay bảo vệ môi trường, bảo vệ sự sống này “Yêu thương trái đất hơn bằng những hành động nhỏ”...
                    </p>

                </div><!--end list-new-->
                <div class="clear2"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="16 câu nói mà sau 10 năm tốt nghiệp bạn mới chiêm nghiệm được"><img src="~/Assets/images/a_1157152305_v3.jpg" alt="16 câu nói mà sau 10 năm tốt nghiệp bạn mới chiêm nghiệm được"></a>
                    </div>
                    <h4><a href="#" title="16 cau noi ma sau 10 nam tot nghiep ban moi chiem nghiem duoc a945 html">16 câu nói mà sau 10 năm tốt nghiệp bạn mới chiêm nghiệm được</a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 11/01/2021</span> - Lượt xem: 654</p>
                    <p class="sapo">
                        Dưới đây là mười sáu câu nói mà sau mười năm tốt nghiệp bạn mới có thể chiêm nghiệm và thấu hiểu được. Mời bạn đọc cùng theo dõi!
                    </p>

                </div><!--end list-new-->
                <div class="clear3"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="Những Lý Do Khiến Bạn Luôn Tầm Thường Và Kém Cỏi "><img src="~/Assets/images/a_404847785_v2.jpg" alt="Những Lý Do Khiến Bạn Luôn Tầm Thường Và Kém Cỏi "></a>
                    </div>
                    <h4><a href="#" title="nhung ly do khien ban luon tam thuong va kem coi a943 html">Những Lý Do Khiến Bạn Luôn Tầm Thường Và Kém Cỏi </a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 09/01/2021</span> - Lượt xem: 475</p>
                    <p class="sapo">
                        Bạn đang ở tháng năm tuổi trẻ tươi đẹp, bạn mang trong mình nhiều ước mơ và hoài bão thế nhưng thời gian trôi qua đi, bạn vẫn cứ mãi tầm thường và kém cỏi?...
                    </p>

                </div><!--end list-new-->
                <div class="clear2"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="Những Lý Do Khiến Bạn Không Thể Phát Triển Bản Thân "><img src="~/Assets/images/a_1618859199_po0.jpg" alt="Những Lý Do Khiến Bạn Không Thể Phát Triển Bản Thân "></a>
                    </div>
                    <h4><a href="#" title="nhung ly do khien ban khong the phat trien ban than a939 html">Những Lý Do Khiến Bạn Không Thể Phát Triển Bản Thân </a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 09/01/2021</span> - Lượt xem: 396</p>
                    <p class="sapo">
                        Bạn đang thắc mắc không biết làm thế nào để có thể phát huy tối đa khả năng của bản thân? Thật may mắn nếu hôm nay bạn đọc hết bài viết này, bạn sẽ...
                    </p>

                </div><!--end list-new-->
                <div class="news-item">
                    <div class="img">
                        <a href="#" title="8 Điều Giúp Bạn Trưởng Thành Hơn "><img src="~/Assets/images/a_1324713278_trng_thanh_2.jpg" alt="8 Điều Giúp Bạn Trưởng Thành Hơn "></a>
                    </div>
                    <h4><a href="#" title="8 dieu giup ban truong thanh hon a938 html">8 Điều Giúp Bạn Trưởng Thành Hơn </a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 08/01/2021</span> - Lượt xem: 407</p>
                    <p class="sapo">
                        Bài viết dưới đây gửi tặng những ai đã và đang bị lạc đường giữa tháng năm thanh xuân, không biết làm thế nào để trưởng thành một cách đúng nghĩa. Mời...
                    </p>

                </div><!--end list-new-->
             
                
                <div class="clear2"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="Trị Căn Bệnh Lười Biếng Bằng Cách Nào? "><img src="~/Assets/images/a_667704341_li_bing.jpg" alt="Trị Căn Bệnh Lười Biếng Bằng Cách Nào? "></a>
                    </div>
                    <h4><a href="#" title="tri can benh luoi bieng bang cach nao a910 html">Trị Căn Bệnh Lười Biếng Bằng Cách Nào? </a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 30/12/2020</span> - Lượt xem: 458</p>
                    <p class="sapo">
                        Lười biếng là kẻ địch lớn nhất của thành công, không nỗ lực mà đòi sống an nhàn chính là sự ảo tưởng của những kẻ sợ thất bại, bạn lười biếng vì...
                    </p>

                </div><!--end list-new-->
                <div class="clear3"></div>			<div class="news-item">
                    <div class="img">
                        <a href="#" title="Những Thói Quen Của Người Tích Cực "><img src="~/Assets/images/a_1893206713_tich_cc.jpg" alt="Những Thói Quen Của Người Tích Cực "></a>
                    </div>
                    <h4><a href="#" title="nhung thoi quen cua nguoi tich cuc a909 html">Những Thói Quen Của Người Tích Cực </a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 30/12/2020</span> - Lượt xem: 470</p>
                    <p class="sapo">
                        Người tích cực là người sống vui vẻ, lạc quan trong bất cứ tình huống khó khăn nào của cuộc sống, thường thì những người tích cực đều có một cuộc sống...
                    </p>

                </div><!--end list-new-->
              
                <div class="news-item">
                    <div class="img">
                        <a href="#" title="Những Cách Học Tốt Môn Vật Lý "><img src="~/Assets/images/a_424415020_cachhocgioimonvatly.jpg" alt="Những Cách Học Tốt Môn Vật Lý "></a>
                    </div>
                    <h4><a href="#" title="nhung cach hoc tot mon vat ly a893 html">Những Cách Học Tốt Môn Vật Lý </a></h4>
                    <p class="info-post"><span class="date">Ngày đăng: 26/12/2020</span> - Lượt xem: 878</p>
                    <p class="sapo">
                        Làm thế nào để học giỏi môn Vật lý, câu hỏi làm cho rất nhiều bạn học sinh phải đau đầu thế nhưng đừng lo lắng, ở bài viết này Sách Hay 24h sẽ giúp bạn...
                    </p>

                </div><!--end list-new-->
              
                
                <script type="text/javascript">
                    $('.detail-cate').each(function () {
                        var showChar = 1285;  // How many characters are shown by default
                        var ellipsestext = "...";
                        var moretext = "Xem thêm >>";
                        var lesstext = "Thu gọn";
                        var content = $(this).html();

                        if (content.length > showChar) {

                            var c = content.substr(0, showChar);
                            var h = content.substr(showChar, content.length - showChar);

                            var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><div class="morecontent"><div class="hide-text">' + h + '</div><a class="morelink" title="no title">' + moretext + '</a></div>';

                            $(this).html(html);
                        }

                    });

                    $(function () {
                        $('.morelink').click(function () {
                            if ($(this).text() == 'Xem thêm >>') {
                                $('.hide-text').show();
                                $(this).text('Thu gọn');

                            }
                            else {
                                $('.hide-text').hide();
                                $(this).text('Xem thêm >>');
                            }

                        });
                    })
                </script>
            </div>

            <div class="right-content">

                <div class="banner">


                    <a href="#" title="tuoi tre dang gia bao nhieu dung lam lang phi tuoi tre"> <img src="~/Assets/images/627808644_tuoitredanggiabaonhieubanner.png" alt="&#39;&#39;Tuổi Trẻ Đáng Giá Bao Nhiêu?&#39;&#39;: Những điều nên làm khi bạn còn hai mươi" title="&#39;&#39;Tuổi Trẻ Đáng Giá Bao Nhiêu?&#39;&#39;: Những điều nên làm khi bạn còn hai mươi"></a>

                </div>

                <div class="block-right">
                    <p class="title">Review xem nhiều</p>

                    <div class="news-left">

                        <a href="#" title=" Tổng hợp những câu nói hay nhất về tình yêu"><img src="~/Assets/images/a_670291969_caunoihaynhatvetinhyeu.jpg" alt=" Tổng hợp những câu nói hay nhất về tình yêu" title=" Tổng hợp những câu nói hay nhất về tình yêu"></a>

                        <h4><a href="#" title=" Tổng hợp những câu nói hay nhất về tình yêu"> Tổng hợp những câu nói hay nhất về tình yêu</a></h4>

                    </div>


                


                    <div class="news-left">

                        <a href="#" title="Tổng Hợp Những Câu Nói Hay Về Giá Trị Của Bản Thân"><img src="~/Assets/images/a_976222327_nhungcaunoihayvegiatribanthan.jpg" alt="Tổng Hợp Những Câu Nói Hay Về Giá Trị Của Bản Thân" title="Tổng Hợp Những Câu Nói Hay Về Giá Trị Của Bản Thân"></a>

                        <h4><a href="#" title="Tổng Hợp Những Câu Nói Hay Về Giá Trị Của Bản Thân">Tổng Hợp Những Câu Nói Hay Về Giá Trị Của Bản Thân</a></h4>

                    </div>


                 


                 


                    

                </div>

                <div class="banner">


                   




                    <a rel="sponsored noopener noreferrer nofollow" target="_blank" href="#" title="8 cuon sach hay ve kinh doanh dang doc nhat de thanh cong"> <img src="~/Assets/images/1826395745_sachhayvekinhdoanh.png" alt="Sách hay về kinh doanh nên đọc để thành công" title="Sách hay về kinh doanh nên đọc để thành công"></a>

                </div>

                <div class="block-right">
                    <p class="title">Review mới nhất</p>

                    <div class="news-left">

                        <a href="#" title="Vì sao nên duy trì thói quen đọc sách mỗi ngày?"><img src="~/Assets/images/a_1390087460_vi_sao_nn_duy_tri_thoi_quen_c_sach_mi_ngay.jpg" alt="Vì sao nên duy trì thói quen đọc sách mỗi ngày?" title="Vì sao nên duy trì thói quen đọc sách mỗi ngày?"></a>

                        <h4><a href="#" title="Vì sao nên duy trì thói quen đọc sách mỗi ngày?">Vì sao nên duy trì thói quen đọc sách mỗi ngày?</a></h4>

                    </div>




               


                    <div class="news-left">

                        <a href="#" title="Những câu nói hay, danh ngôn hay về lòng dũng cảm, can đảm"><img src="~/Assets/images/a_1990080675_caunoihayvelongdungcam.jpg" alt="Những câu nói hay, danh ngôn hay về lòng dũng cảm, can đảm" title="Những câu nói hay, danh ngôn hay về lòng dũng cảm, can đảm"></a>

                        <h4><a href="#" title="Những câu nói hay, danh ngôn hay về lòng dũng cảm, can đảm">Những câu nói hay, danh ngôn hay về lòng dũng cảm, can đảm</a></h4>

                    </div>


                    <div class="news-left">

                        <a href="#" title="Review sách Phía sau nghi can X - Higashino Keigo"><img src="~/Assets/images/a_1116820540_reviewsachphiasaunghicanx1.jpg" alt="Review sách Phía sau nghi can X - Higashino Keigo" title="Review sách Phía sau nghi can X - Higashino Keigo"></a>

                        <h4><a href="#" title="Review sách Phía sau nghi can X - Higashino Keigo">Review sách Phía sau nghi can X - Higashino Keigo</a></h4>

                    </div>


                   

                </div>

                <div class="banner">


                    

                </div>



            </div>

        </div><!--end content-->

    </div><!--end wrapper-->
</body>

</html>
