
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin-top:200px;margin-bottom:200px;width:100%;"><h2 style="text-align:center;">Đặt hàng thành công. Đơn hàng của bạn đang được xử lý!!!</h2></div>

